<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Simple listing site</title>
    <link rel="stylesheet" href="../css/bulma.min.css"/>
  </head>
  <body>
    {{content}}
  </body>
</html>
